@media (max-width: 1600px) {
    .sobre{
        left: 13rem;
    }

    .apre{
        left: 19rem;
    }

    .options{
        left: 72%;
    }
}

@media (max-width: 768px) {
    .sobre {
        left: 6rem;
        width: 40%;
        font-size: 36px; 
    }

    .ola {
        top: 6rem;
        font-size: 36px; 
    }

    p {
        top: 7rem;
        font-size: 36px; 
    }

    .apre {
        top: 32rem;
        width: 32rem;
        left: 10rem;
        font-size: 36px; 
    }

    #theme-toggle {
        left: 92%;
    }

    .options {
        left: 20%;
        font-size: 36px;
    }

    .txt2,
    .txt3 {
        left: 15.5rem;
    }
}




