@media (max-width: 1600px) {
    .sobre{
        left: 13rem;
    }

    .apre{
        left: 19rem;
    }

    .options{
        left: 72%;
    }
}

@media (max-width: 768px) {
    .sobre{
        left: 13rem;
        width: 20%;
    }

    .ola{
        top: 2rem;
        font-size: 64px;
    }

    p{
        top: 5rem;
        font-size: 64px;
    }

    .apre{
        top: 32rem;
        width: 19rem;
        left: 19rem;
    }

    #theme-toggle{
        left: 92%;
    }

    .options{
        left: 20%;
    }

    .txt2{
        left: 15.5rem;
    }

    .txt3{
        left: 15.5rem;
    }
}

