@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    transition: background-color 1s, color 1s;
    margin: 0;
}

h1, h2 {
    position: absolute;
    font-family: Arapey;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2vw;
}

h1{
    top: 1rem;
}

h2{
    top: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    left: 94%;
}

.options {
    position: absolute;
    display: flex;
    gap: 2vw;
    font-family: Arapey;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    align-items: center;
    margin-right: 2vw;
    left: 68%;
    top: 1.5rem;
}

.txt2, .txt3 {
    position: absolute;
    top: 12rem;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 25vw;
}

.txt3 {
    top: 13.6rem;
}

.svg-container {
    position: absolute;
    width: 8vw;
    height: auto;
    flex-shrink: 0;
    top: 10rem;
    left: 18.5vw;
}

.circle {
    position: absolute;
    width: 24vw;
    height: auto;
    left: 2rem;
    top: 18.5rem;
}

.sobre {
    position: absolute;
    font-family: Arapey;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 9vw;
    top: 20rem;
}

.apre {
    position: absolute;
    width: 60vw;
    height: auto;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 9vw;
    top: 24rem;
}

.btn__indicator {
    cursor: pointer;
    font-size: 3vw;
}

.options a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    h1, h2 {
        margin-left: 8vw;
        font-size: 6vw;
    }

    h1{
        top: 2rem;
    }
    
    h2{
        top: 4rem;
    }

    .options {
        font-size: 4vw;
    }

    .txt2, .txt3 {
        font-size: 4vw;
    }

    .txt2 {
        top: 9rem;
    }

    .txt3 {
        top: 11rem;
    }

    .sobre {
        font-size: 4vw;
        margin-left: 14vw;
    }

    .apre {
        font-size: 3vw;
        margin-left: 18vw;
    }

    .btn__indicator {
        font-size: 6vw;
    }

    .circle {
        width: 38vw;
        height: auto;
    }

    .svg-container {
        width: 10vw;
        height: auto;
        top: 10rem;
        left: 22vw;
    }
}

@media screen and (max-width: 720px) {
    h1, h2 {
        margin-left: 6vw;
        font-size: 8vw;
    }

    h1{
        top: 4rem;
    }
    
    h2{
        top: 7rem;
    }

    .options {
        font-size: 6vw;
    }

    .txt2, .txt3 {
        font-size: 6vw;
    }

    .txt2 {
        top: 12rem;
    }

    .txt3 {
        top: 15rem;
    }

    .sobre {
        font-size: 6vw;
        margin-left: 18vw;
        top: 28rem;
    }

    .apre {
        font-size: 5vw;
        margin-left: 18vw;
        width: 66vw;
        top: 32rem;
    }

    .btn__indicator {
        font-size: 8vw;
    }

    .circle {
        width: 64vw;
        height: auto;
        top: 26rem;
    }

    .svg-container {
        width: 12vw;
        height: auto;
        top: 14rem;
        left: 18vw;
    }
}


.dark-mode::-webkit-scrollbar-thumb {
    background-color: #FFF;
}

.dark-mode, .light-mode {
    color: #FDFFFF;
}

.dark-mode {
    background-color: #0C0C0C;
}

.light-mode {
    background-color: #FFFDF5;
}