@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    transition: background-color 1s, color 1s;
    padding: 4%;
    margin: 0;
}

p, .ola {
    position: absolute;
    font-family: Arapey;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ola {
    top: 3.5rem;
}

.dark-mode, .light-mode {
    color: #FDFFFF;
}

.dark-mode {
    background-color: #0C0C0C;
}

.light-mode {
    background-color: #FFFDF5;
}

.txt2, .txt3 {
    position: absolute;
    top: 14rem;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    left: 28%;
}

.txt3 {
    top: 15.8rem;
}

.svg-container {
    position: absolute;
    width: 8vw;
    height: 8vw;
    flex-shrink: 0;
    top: 13rem;
    left: 19%;
}

.circle {
    position: absolute;
    left: 2rem;
    top: 24rem;
}

.sobre {
    position: absolute;
    font-family: Arapey;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -5%;
    top: 27rem;
}

.apre {
    position: absolute;
    width: 60vw;
    height: auto;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -10%;
    top: 30rem;
}

.btn__icon {
    font-size: 2em;
}

#theme-toggle {
    position: absolute;
    left: 96%;
    cursor: pointer;
}

.options {
    position: absolute;
    display: flex;
    left: 72%;
    gap: 2vw;
    top: 2.6rem;
    font-family: Arapey;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.options a {
    text-decoration: none;
    color: inherit;
}

.dark-mode::-webkit-scrollbar {
    width: 1.2vw;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 1.2vw;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2rem;
}

.dark-mode::-webkit-scrollbar-thumb {
    background-color: #FFF;
}

@media (max-width: 768px) {
    .sobre {
        left: 6.2%;
        width: 80%;
        font-size: 2.6vw;
    }

    .ola {
        top: 4rem;
        font-size: 4vw;
    }

    p {
        top: 6rem;
        font-size: 4vw;
    }

    .apre {
        top: 33rem;
        width: 80%;
        left: 10%;
        font-size: 1.8vw;
    }

    #theme-toggle {
        left: 92%;
    }

    .options {
        left: 14%;
        font-size: 2vw;
    }

    .txt2 {
        left: 15.5%;
    }

    .txt3 {
        left: 15.5%;
    }

    .circle {
        left: 2%;
    }
}
